 /* 清除内外边距 */
* {
    margin: 0;
    padding: 0;
}
/* 网页总体背景为白色 */
body{
    background-color: #daddd6;
}
/* 最大的盒子 使其居中 并且给到背景色 */
.bigbox {
    margin: 100px auto;
    width: 1280px;
    height: 2730px;
    background-color: #daddd6;
    border: 2px solid #333333;
}
/* header模块 最上面的部分  */
.header {
    width: 1280px;
    height: 60px;
    background-color: #333333;
}
/* 在header模块中插入一张图片 */
.header img {
    float: left;
    height: 100%;
    margin-left: 50px;
}

.header ul li {
    float: right;
    line-height: 60px;
    margin-right: 25px;
}

.header ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #daddd6;
}
/* 选取第四个li并且单独给出颜色 */
.header ul .li4 a {
    color: #67666a;
}
/* 第一篇文章的布局 */
.firstessay {
    float: left;
    width: 860px;
    height: 820px;
    background-color: #fff;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
}
/* 对所有段落的h1进行相同的布局 */
.firstessay h1,.secondessay h1,.picturebox h1,.ending h1 {
    margin-left: 20px;
    margin-top: 35px;
}
/* 对所有段落的h2进行相同的布局 */
.firstessay h2,.secondessay h2,.ending h2 {
    font-weight: 400;
    margin-left: 20px;
    margin-top: 20px;
}
/* 对所有段落的h3进行相同的布局 */
.firstessay h3,.secondessay h3,.ending h3{
    font-weight: 400;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
}
 /* 对所有段落的p进行相同的布局 */
.firstessay p,.secondessay p {
    font-size:20px;
    margin-left: 20px;
}
 /* 对所有段落类名为p1的进行相同的布局 */
.firstessay .p1 ,.secondessay .p1{
    text-indent: 2em;
}
.firstessay img,.secondessay img {
    margin-left: 20px;
}
/* 控制两篇文章的首行缩进 */
.firstessay .indent,.secondessay .indent{
    text-indent: 2em;
}

.secondessay {
    float: left;
    width: 860px;
    height: 710px;
    background-color: #fff;
    margin-left: 20px;
    margin-bottom: 25px;
}
.secondessay ul li {
    list-style: none;
    margin-left: 40px;
    font-size:20px;
}
/* 盒子段落中的布局 */
.picturebox {
    float: left;
    width: 860px;
    height: 450px;
    background-color: #fff;
    margin-top: 25px;
    margin-left: 20px;
    margin-bottom: 25px;
}
/* 文章作者发表时间的盒子布局 */
.ending {
    float: left;
    width: 860px;
    height: 480px;
    background-color: #fff;
    margin-left: 20px;
    margin-bottom: 25px;
}
/* 最底部盒子布局 */
.bottom {
    float: left;
    width: 1280px;
    height: 60px;
    background-color: #333333;
}
/* 右边的侧边栏 */
.navitems {
    float: left;
    width: 360px;
    height: 550px;
    margin-top: 25px;
    background-color: #fff;
}
/* 侧边栏的第一个小栏 */
.columns{
    height:40px;
    color:#333333;
    line-height: 40px;
    font-size:17px;
    font-weight: 700;
    border-left: 3px solid #cdcdcd;
    margin-left:15px;
    text-indent: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.email {
    margin-left: 30px;
    margin-bottom:15px;
}
.email input {
    margin-left: 15px;
    width:130px;
    height: 20px;
    font-size:10px;
    border:1px solid #daddd6;
    outline: none;
}
.emailtips,.passwordstips{
    margin-left:162px;
    font-size:10px;
    color:#daddd6;
    margin-bottom:30px;
}
.passwords{
    margin-left: 60px;
    margin-bottom:15px;
}
.passwords input,.ensurepasswords input{
    margin-left: 15px;
    width:130px;
    height: 20px;
    font-size:10px;
    border:1px solid #daddd6;
    outline: none;
}
.ensurepasswords{
    margin-left: 11px;
    margin-bottom: 11px;
}
.sex,.city,.hobby{
    margin-left: 110px;
    margin-bottom: 11px;
}
.sex input,.city select,.hobbyinput,.describe textarea{
    margin-left: 12px;
    outline: none;
    resize: none;
}
.city select,.hobby input{
    border: 2px solid #daddd6;
    border-radius: 5px;
    outline: none;
}

.textarea textarea{
    float:left;
    width:180px;
    height: 100px;
    font-weight: 700;
    color:#333333;
    margin-left: 20px;
    resize: none;
    outline: none;
    
}
.introduce{
   float:left;
   margin-left: 77px;
   height: 111px;
}
.submit{
   float:left;
   margin-top: 5px;
   margin-left: 18px;
   border:1px solid #3355d1;
   width:320px;
   height: 40px;
   background-color:#3355d1;
   border-radius: 10px;
}
.submit a{
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color:#fff;
    padding-left: 130px;
}
/* 每个装图片的容器 */
.holder{
    float:left;
    margin-left: 30px;
    margin-top: 30px;
    width:125px;
    height: 125px;
    background-color: #fff;
    text-align:center;
    padding-top:10px ;
    font-size:10px;
    border: 1px solid #daddd6;
}
.holder img{
float: left;
margin-left:11px;
margin-top:10px;
width:100px;
height: 85px;
}
.ending ol li{
    margin-left: 80px;
    font-size:20px;
}
.ending ol{
    margin-bottom: 40px;
}
.table{
    width:815px;
    height: 150px;
    margin-left: 23px;
    border: 0px solid #daddd6;
}
tr th:nth-child(n){
    text-align: left;
    color:#fff;
}
tr:first-child {
    background-color:#333333;
}
tr:last-child{
    background-color:#daddd6;
}
.bottom {
    text-align: center;
    line-height: 60px;
    color:#fff;
}